body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;

  background-image: linear-gradient(
    89.9deg,
    rgba(208, 246, 255, 1) 0.1%,
    rgba(255, 237, 237, 1) 47.9%,
    rgba(255, 255, 231, 1) 100.2%
  );

  background-image: linear-gradient(
    111.6deg,
    rgba(73, 235, 221, 1) -0%,
    rgba(83, 222, 219, 1) 7.1%,
    rgba(105, 191, 217, 1) 13.4%,
    rgba(127, 157, 214, 1) 18%,
    rgba(155, 113, 208, 1) 23.9%,
    rgba(178, 73, 201, 1) 28.8%,
    rgba(200, 45, 192, 1) 33.3%,
    rgba(213, 42, 180, 1) 38%,
    rgba(232, 44, 145, 1) 44.2%,
    rgba(239, 45, 128, 1) 52.4%,
    rgba(249, 66, 107, 1) 59.7%,
    rgba(252, 105, 98, 1) 67.3%,
    rgba(252, 105, 98, 1) 74.4%,
    rgba(254, 145, 92, 1) 82.2%,
    rgba(255, 189, 86, 1) 88.2%,
    rgba(254, 227, 80, 1) 92.8%,
    rgba(254, 248, 75, 1) 98.4%
  );

  background-image: linear-gradient(
    106.2deg,
    rgba(0, 186, 217, 1) -4.3%,
    rgba(121, 134, 204, 1) 14.1%,
    rgba(150, 117, 206, 1) 34.7%,
    rgba(186, 105, 200, 1) 53%,
    rgba(240, 71, 112, 1) 74.7%,
    rgba(239, 162, 92, 1) 95.6%
  );

  background-image: linear-gradient(
    103.3deg,
    rgba(252, 225, 208, 1) 30%,
    rgba(255, 173, 214, 1) 55.7%,
    rgba(162, 186, 245, 1) 81.8%
  );
}
